.data-analytics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px; 
    height: auto; 
    margin: 0 auto;
};
.home-analytics{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px; 
    height: auto; 
    margin: 0 auto;
};