.Dashboard-{

}

.Dashboard-HeaderButtons{
    height: 60px !important;
    width: 60px !important;
    border-radius: 100px;
    
}

.Dashboard-FlexCenter{
    justify-content: center;
    align-items: center;
    display: flex;
}