.eprofile-profilepic {
  height: 150px;
  width: 150px;
}

.eprofile-coverpic {
  border: 1px solid black;
  min-height: 50px;
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.eprofile-coverpic-container {
  height: 150px;
  min-height: 50px;
  max-height: 150px;
}

.eprofile-text-title-container {
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  font-family: MalbergTrial-Heavy;
  text-align: center;
  color: black;
}

.eprofile-container-button-edit {
  text-align: right;
}

.eprofile-button-edit {
  --background: #262c5c;
}

.eprofile-button-edit2 {
  height: 5vw;
  max-height: 60px;
  width: 30vw;
  --border-radius: 30px;
  --border-color: #262c5c;
  color: #262c5c;
}

.eprofile-card-latestjobpost {
  height: 200px;
}

.eprofile-text {
  font-size: 18px;
  color: black;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.eprofile-text-subtext {
  font-size: 15px;
  color: black;
  text-align: center;
  white-space: pre-line;
}
.eprofile-avatar {
  height: 40px;
  width: 40px;
}

.eprofile-avatar-socialmedias {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  background: #262c5c;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eprofile-cards-title {
  font-size: 20px;
  padding-bottom: 10px;
}

.eprofile-cards-text {
  font-size: 15px;
  padding-bottom: 10px;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.eprofile-cards {
  padding: 10px;
  color: black;
  margin: 1px;
}

.eprofile-cards2 {
  padding: 10px;
  color: black;
  height: fit-content;
  padding: 0;
  margin: 1px;
}

.eprofile-cards3 {
  height: 100%;
  width: 100%;
  color: black;
  cursor: pointer;
  transition: background 0.5s ease;
}

.eprofile-cards3:hover {
  height: 100%;
  width: 100%;
  color: black;
  background: rgb(243, 243, 243);
  transition: background 0.5s ease;
}

.eprofile-icons {
  font-size: 20px;
  color: #262c5c;
  padding-right: 10px;
}

.eprofile-text-bookmark {
  font-size: 15px;
  color: black;
}

.eprofile-title-recent-postings {
  justify-content: left;
  align-items: center;
  display: flex;
  font-size: 17px;
  padding-left: 20px;
}

.eprofile-grid {
  height: 100%;
  width: 100%;
  background-color: snow;
}

.eprofile-addphoto-icon {
  position: absolute;
  top: 10%;
  left: 10%;
  color: whitesmoke;
  font-size: 30px;
}

/* modal */
.eprofile-modal-cover-container1 {
  height: 125px;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  transition: all .3s ease;
}

.eprofile-modal-cover-container1:hover {
  height: 125px;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  background: #262c5c57;
  transition: all .3s ease;
}

.eprofile-modal-cover-container2 {
  height: 120px;
  width: 120px;
  border: 1px solid black;
}

.eprofile-editprofile-input {
  width: 100% !important;
  height: 50px;
  min-height: 10px !important;
  color: black;
  --highlight-color-focused: #262c5c;
  --border-color: black !important;
  margin: 5px;
}

.eprofile-modal-buttons {
  width: 100%;
  --background: #262c5c;
  color: white;
}

.eprofile-modal-buttons2 {
  color: #262c5c;
  --border-width: 1px;
  --border-color: #262c5c;
}

.eprofile-modal-founder-container {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
}

.eproifle-modal-editpicture {
  background: #262c5c;
  color: white;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.eproifle-modal-editpicture2 {
  color: black;
  font-family: "MalbergTrial-Heavy";
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  padding: 10%;
}

.eprofile-editmodal {
  --border-radius: 20px;
  --height: 90%;
  --width: 80%;
  --max-width: 800px;
  --min-height: 0px;
  padding: 20px;
}

.eprofile-coverphoto {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.eprofile-modal-icon {
  scale: 1;
  cursor: pointer;
  transition: color 0.3s ease, scale 0.5s ease;
}

.eprofile-modal-icon:hover {
  scale: 1.1;
  color: red;
  transition: color 0.3s ease, scale 0.5s ease;
}

.eprofie-text-startbuilding {
  color: #262c5c;
  font-size: 6vw;
  padding: 20px;
  text-align: center;
  line-height: 80%;
  font-family: "MalbergTrial-Heavy";
}
