/* .HomeJobSeekerButtonActions {
  --background-activated: snow;
  color: black;
  --border-color: black;
  --margin-top: 100px;
  max-width: 450px !important;
  width: 90vw !important;
}

.HomeJobSeekerBackground {
  background-image: url("../assets/background-Login.jpg");
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  color: snow;
}

.Home-FlexCenter {
  align-items: center;
  justify-content: center;
  display: flex;
}
.Home-Logo {
  border-radius: 50px;
  height: auto;
  width: 150px;
  border: 2px solid black;
} */

/* landingpage */

/* .landingpage-mininavbar {
  background-color: #262c5c;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  max-width: 70px;
  height: 100%;
  padding: 0;
}

.landingpage-contents {
  border: 1px solid black;
  height: 100%;
  margin-left: 60px;
  width: calc(100% - 60px);
  padding: 0;
  background-color: white;
  color: black;
}

.landingpage-icons {
  font-size: 25px;
}

.landingpage-logo {
  height: 50px;
  width: auto;
}

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingpage-text-title {
  font-size: 170px;
  transition: font-size 0.5s ease;
  padding: 0;
  font-family: "MalbergTrial-Heavy";
} */

/* @media (max-width: 768px) {
  .landingpage-text-title {
    font-size: 50px;
    transition: font-size 0.5s ease;
  }
} */

/* .landingpage-text-description {
  font-size: 20px;
  font-family: MalbergTrial-Regular;
  margin-top: -50px;
}

.landingpage-buttons-Getstarted {
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
  --border-width: 1px;
  --border-color: black;
  color: black;
}

.landingpage-square {
  border: 1px solid;
  background: #262c5c;
  border-radius: 30px;
  transition: scale 0.5s ease;
  /* animation: colorChange  10s infinite; 
}

.landingpage-square:hover {
  scale: 1.05;
  border: 1px solid;
  background: #262c5c;
  border-radius: 30px;
  transition: scale 0.5s ease;
  border-radius: 200px 200px 0 200px ;
}

.landingpage-square-first {
  height: 500px;
  width: 500px;
  position: absolute;
  border-radius: 200px 200px 0 200px ;
}

.landingpage-square-second {
  height: 390px;
  width:390px;
  position: absolute;
  right: 0;
  border-radius: 200px 200px 200px 0 ;
} */

.aboutus-big {
  scale: 1;
  transition: all 0.5s ease;
  cursor: pointer;
  color: white;
}

.aboutus-big:hover {
  scale: 1.1;
  transition: all 0.5s ease;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .home-logo {
    height: 200px;
  }

  .home-title {
    font-size: 80px;
    font-family: MalbergTrial-Heavy;
  }

  .home-buttons {
    margin-top: 120px;
    color: white;
    --background: #262c5c;
    width: 50vw;
    max-width: 50vw;
  }

  .home-a-getstarted {
    font-size: 15px;
    padding-top: 20px;
  }
}

@media (max-width: 426px) {
  .home-logo {
    height: 100px;
  }

  .home-title {
    font-size: 50px;
    font-family: MalbergTrial-Heavy;
  }

  .home-buttons {
    margin-top: 100px;
    color: white;
    --background: #262c5c;
    width: 75vw;
    max-width: 250px;
  }

  .home-a-getstarted {
    font-size: 13px;
    padding-top: 20px;
  }
}

@font-face {
  font-family: MalbergTrial-Heavy;
  src: url(../assets/fonts/MalbergTrial-Heavy.ttf);
}

@font-face {
  font-family: MalbergTrial-Regular;
  src: url(../assets/fonts/MalbergTrial-Regular.ttf);
}

/* @keyframes colorChange {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.02;
  }
  50% {
    scale: 1.04;
  }
  75% {
    scale: 1.02;
  }
  50% {
    scale: 1;
  }
} */

.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingpage-navigations {
  color: white;
  font-family: "MalbergTrial-Regular";
  transition: scale 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.landingpage-navigations:hover {
  color: rgb(243, 236, 236);
  font-family: "MalbergTrial-Regular";
  scale: 1.05;
  transition: scale 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.landingpage-header {
  height: 50px;
  background: #262c5c;
}

.landingpage-container-logo {
  padding-left: 10px;
  scale: 1;
  transition: scale 0.3s ease;
  cursor: pointer;
}

.landingpage-container-logo:hover {
  padding-left: 10px;
  scale: 1.02;
  transition: scale 0.3s ease;
}

.landingpage-logo {
  height: 35px;
}

.landingpage-picture {
  position: absolute;
  right: 0;
  bottom: 3vh;
  height: 90%;
  width: auto;
}

.landingpage-logo-name {
  font-family: "MalbergTrial-Heavy";
  padding-left: 5px;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
}

.landingpage-text-subtitle {
  text-align: left;
  font-size: 20px;
  transition: font-size 0.5s ease;
  font-family: PrimeformProDemo-Light;
}

.landingpage-text-maintitle {
  font-size: 110px;
  font-family: "MalbergTrial-Heavy";
  line-height: 90px;
  transition: line-height 0.5s ease, font-size 0.5s ease;
}

.landingpage-text-description {
  font-size: 15px;
  transition: font-size 0.5s ease;
}

.landingpage-maintitle-container {
  justify-content: left !important;
}

.landingpage-buttons {
  padding-top: 30px;
  --border-width: 1px;
  --border-color: #262c5c;
  color: #262c5c;
}

@media (max-width: 1100px) {
  .landingpage-text-subtitle {
    text-align: left;
    font-size: 15px;
    transition: font-size 0.5s ease;
  }

  .landingpage-text-maintitle {
    font-size: 90px;
    font-family: "MalbergTrial-Heavy";
    line-height: 70px;
    transition: line-height 0.5s ease, font-size 0.5s ease;
  }

  .landingpage-text-description {
    font-size: 15px;
    transition: font-size 0.5s ease;
  }
}
