.LoginBackground {
  /* background-image: url("../assets/background-Login.jpg"); */
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.LoginJobSeekerFlexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.LogInButtonActions {
  --background-activated: snow;
  color: white;
  --border-color: black;
  margin-top: 40px !important;
  max-width: 450px !important;
  width: 90vw !important;
}

.LogIn-FlexCenter {
  align-items: center;
  justify-content: center;
  display: flex;
}

.LogIn-Logo {
  border-radius: 30px;
  height: auto;
  width: 100px;
  border: 2px solid black;
}
.LogIn-Input {
  max-width: 450px !important;
  width: 90vw !important;
  height: 60px !important;
  --margin-top: 30px;
  min-height: 40px !important;
  height: 45px;
  border-bottom: 1px solid black;
  text-align: left;
  background: snow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.LogIn-SignUpCancel {
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}
.LogIn-Card {
  padding: 20px;
  max-width: 350px;
  border-radius: 20px;
}

.LogIn- {
}
