.NavBar- {
}

.NavBar-Buttons {
  background-color: #262c5c;
  --color: black;
  --color-selected: rgb(221, 210, 210);
  color: white;
  font-size: 11px;
}

.navbar-container {
  height: 50px !important;
}

.navbar-ionpage {
}

.navbar-button {
  height: 100%;
  width: 100%;
  --border-radius: 0px;
  --background: transparent;
  padding: 0;
  position: absolute;
}
