/* .NavBar-Toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
} */

.NavBar-Icons {
  height: 25px;
  width: auto;
}

.NavBar-Buttons {
  height: 50px !important;
  width: auto !important;
  --margin: 0px;
  --background: snow;
  --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --background-activated: rgb(244, 244, 244);
}

.NavBar-FlexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}
