.Swipe-Background {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  color: black;
}

.Swipe-NoMore {
  text-align: center;
  font-size: 18px;
  color: black;
}

.Swipe-Swipeable {
  width: 95%;
  height: 90%;
  margin: 10px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-out;
  user-select: none;
  position: absolute;
  border-radius: 20px;
}

.Swipe-CardContent {
  padding: 16px;
  text-align: center;
  color: black;
  height: 100%;
  width: 100%;
  padding: 0;
}

.Swipe-FlexCenter {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Swipe-FloatingButtons-Like {
  display: flex;
  justify-content: right;
  align-items: center;
}

.Swipe-FloatingButtons-Dislike {
  display: flex;
  justify-content: left;
  align-items: center;
}

.Swipe-FloatingButtons-Bookmark {
  display: flex;
  justify-content: right;
  align-items: center;
}

.Swipe-Buttons {
  position: fixed;
  width: 100%;
  top: 65%;
}

.Swipe-IonButton {
  padding: 0 !important;
  margin: 0 !important;
  --border-radius: 100%;
  height: 50px;
  width: 50px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  --background: white;
  --border-color: black;
  --background-activated: rgb(242, 239, 239);
}

.Swipe-Header {
  height: 50px;
  background-color: #262c5c;
  color: white;
}

.Swipe-Swipeable--animated {
  transition: transform 0.3s ease; /* Adjust the duration as needed */
}

.Swipe-CardContent2 {
  padding: 16px;
  text-align: center;
  color: black;
  height: 100%;
  width: 100%;
}

.Swipe-Fake-NextCard {
}

.Swipe-Fake-NextCard-Container {
  width: 95%;
  height: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 10px;
}

.asd {
  background: white;
  border-radius: 20px;
}

.swipe-picture {
  height: 105px;
  width: 100%;
  object-fit: cover;
}

.swipe-text {
  text-align: center;
}

.swipe-description {
  text-align: justify;
}

.swipe-view-modal {
  --height: 80%;
  --width: 95%;
  --border-radius: 20px;
}

.swipe-card-modal {
  width: 100%;
  margin: 0;
  /* margin-left: 20px !important;
  margin-right: 20px !important; */
  color: black;
  font-size: 15px;
  padding: 5px;
  margin-top: 5px;
}

.swipe-label-modal {
  font-weight: bold;
  font-family: MalbergTrial-Regular;
}

.swipe-ionpage {
  background: black;
}

.swipe-moreinformation {
  height: 30px;
  color: black;
  font-size: 12px;
  border-radius: 0 0 20px 20px;
}

.swipe-container-title {
  height: 30px;
  background-color: #262c5c;
  color: white;
  letter-spacing: 2px;
  font-size: 18px;
  font-family: MalbergTrial-Heavy;
}

.swipe-container {
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  border-color: #262c5c;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
  ;
}

.swipe-logo {
  height: 30px;
  width: auto;
}

.swipe-icon {
  font-size: 20px !important;
  color: white;
}
