.Swipe-Background {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  background-color: #f3f2ee;
}

.Swipe-NoMore {
  text-align: center;
  font-size: 18px;
  color: black;
}

.Swipe-Swipeable {
  width: 100%;
  height: 100%;
  margin: 10px;
  background-color: #1d1d1d;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-out;
  user-select: none;
}

.Swipe-CardContent {
  padding: 16px;
  text-align: center;
  color: white;
}

.Swipe- {
}
