.admin-manageuser-cards-container {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.admin-manageuser-card:hover{
  --background: rgb(244, 233, 233);
  transition: all 0.3s ease;
}

.admin-manageuser-icons {
  color: #262c5c;
  font-size: 25px;
  transition: all 0.3s ease;
}

.admin-manageuser-open {
  background-color: #262c5c;
  color: white;
}

.admin-manageuser-icons-filter {
  margin: 15px;
  cursor: pointer;
}

.admin-manageuser-icons-filter:hover {
  margin: 15px;
  cursor: pointer;
  scale: 1.1;
  transition: all 0.3s ease;
}

.admin-manageuser-picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.admin-manageuser-text {
  color: black;
}

.admin-manageuser-filter-title {
  font-family: MalbergTrial-Heavy;
  font-size: 30px;
}

.admin-manageuser-borderbottom {
  border-bottom: 1px solid grey;
}

.admin-manageuser-filter-select {
  width: calc(100% - 10px) !important;
  height: 50px;
  min-height: 10px !important;
  color: black;
  --highlight-color-focused: #262c5c;
  --border-color: black !important;
  margin: 10px 0 0 5px;
}

.admin-manageuser-filter-button {
  position: absolute;
  bottom: 0;
  width: calc(100% - 10px);
}

.data-analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
}

.admin-modal-view-cards {
  width: 100%;
  padding: 5px;
  height: 200px;
  color: black;
}

.home-analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 0 auto;
}

.admin-minicards {
  width: 100%;
  height: 100%;
  color: black;
  font-size: 2vh;
  margin-top: 20px;
  padding: 0;
}

.admin-minicard-number {
  font-size: 5vh;
  font-family: BebasNeue-Regular;
}

.admin-minicard-title {
  text-align: center;
}

.admin-minicard-icon {
  font-size: 2vh;
  margin-right: 5px;
}

.admin-user-cards {
  height: 210px;
  width: 20%;
  min-width: 200px;
  max-width: 350px;
  transition: all .3s ease;
}

.admin-user-cards-picture {
  height: 60%;
  width: 100%;
}

.admin-view-modal-topProfile {
  display: flex;
  justify-content: left;
  align-items: center;
}

.admin-view-modal-avatar {
  height: 125px;
  width: 125px;
  margin-right: 10px;
}

.admin-view-top-info-text-container {
  background: linear-gradient(to left, #262c5c99, #262c5c);
  height: 90px;
  width: 82%;
  border-radius: 0 20px 20px 0;
  position: absolute;
  left: 90px;
  z-index: -1;
}

.admin-view-top-info-text {
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.admin-view-modal-header {
  height: 40px;
}

.admin-padding-text {
  padding: 2px;
}

.admin-pointer:hover{
  cursor: pointer;
  background-color: rgb(244, 233, 233);
  transition: all .5s ease;
}

.admin-bebufont{
  font-family:  BebasNeue-Regular;
  font-size: 30px;
}

.page-jobposting-segments {
  min-height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 228, 228);
}

.page-jobposting-segments-buttons {
  width: 50%;
  color: black;
}

.modal-edituser-input {
  width: 95%;
}

.admin-adduser{
  margin-left: 80%;
}
.eprofile-modal-cover-container{
  color: whitesmoke;
  font-size: 30px;
}
.eprofile-modal-cover-container1{
  height: 125px;
  border: 1px solid black;
  border-radius: 20px;
  width: 100%;
  transition: all .3s ease;
}
.backup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.instruction {
  margin-bottom: 20px;
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgba(111, 108, 108, 0.24) ;
}

.titles {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.imgprocedure {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.buttonprocedure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}