/* .SignUp-{

}

.SignUpBackground {
  background-image: url("../assets/background-Login.jpg");
 color: snow;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}

.SignUpButtonActions {
  --background-activated: snow;
  color: black;
  --border-color: black;
}

.SignUpJobSeeker-FlexCenter {
  align-items: center;
  justify-content: center;
  display: flex;
}

.SignUpJobSeeker-Back {
  min-height: 20px;
  min-width: 20px;
  border-radius: 20px;
  font-size: 14px;
  color: black;
}

.SignUpJobSeeker-input {
  --margin-top: 10px;
  min-height: 40px !important;
  height: 45px;
  border-bottom: 1px solid black;
  text-align: left;
  background: snow;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.SignUpJobSeeker-ioncard {
  width: 90vw;
  max-width: 400px;
  height: 95vh;
  padding: 10px;
  text-align: center;
}
.SignUpJobSeeker-AddInterest {
  --background-activated: snow;
  min-height: 20px !important;
  min-width: 20px !important;
  border-radius: 20px;
  color: black;
  --border-color: black;
}
.SignUpJobSeeker-ChosenInterest {
  --background-activated: snow;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  --border-color: black;
}

.SignUpEmployer-IonCard {
  padding: 20px;
  border-radius: 20px;
}

.SignUp-Modal-Search{
  --border-radius: 10px;
  padding: 20px;
}

.SignUp-ListOfInterest{
  padding: 10px;
} */

/* new */
.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-card {
  height: 450px;
  width: 700px;
  border-radius: 10px;
}

.signup-inputs {
  min-height: 0 !important;
  height: 40px;
  --highlight-color-focused: #262c5c;
  color: black;
  --border-color: black !important;
}

.signup-text-terms {
  color: black;
  font-size: 12px;
  padding-left: 10px;
}

.signup-buttons {
  --border-width: 1px;
}

.signup-a {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

/* new */

.signup-logo {
  height: 100px;
}

.signup-title {
  font-size: 35px;
  font-family: MalbergTrial-Heavy;
}

.signup-button {
  width: 90vw;
  --background: #262c5c;
  width: 90vw;
  max-width: 350px;
  height: 40px !important;
  --border-width: 1px;
  --border-color: #262c5c;
  color: white;
}

/* mobile */
.signup-ionpage {
  background: linear-gradient(to bottom right, white, #a6aad4);
  color: black;
}

.signup-title-mobile {
  font-family: MalbergTrial-Heavy;
  font-size: 40px;
  padding-bottom: 30px;
}

.signup-button-email-mobile {
  --background: #262c5c;
  color: white;
  width: 100%;
  padding-top: 20px;
}

.signup-button-google {
  --background: #262c5c;
  color: white;
  width: 100%;
}

.signup-text-alreadyhave {
  font-size: 13px;
}

.signup-grid {
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.signup-addjobpost-icon {
  font-size: 15px;
  color: black;
  transition: transform 0.3s ease;
}

.signup-addjobpost-icon:hover {
  transform: scale(1.2);
  color: darkred;
  transition: transform 0.3s ease;
}

.signup-addjobpost-addicon {
  font-size: 25px;
  transition: color 1s ease, transform 0.5s ease;
  padding: 5px;
  color: black;
}

.signup-button-button-tags {
  --border-width: 1px;
  --border-color: black;
  color: black;
  font-size: 10px;
}

.signup-back-mobile{
  position: relative;
  top: -15px;
  right: 15px;
}

@media (max-width: 1024px) {
  .signup-inputs-mobile {
    min-height: 0 !important;
    height: 40px;
    --highlight-color-focused: #262c5c;
    color: black;
    --border-color: black !important;
    width: 100%;
    font-size: 14px;
    max-width: 340px !important;
  }
  .signup-grid {
    height: 100%;
    width: 100%;
    max-width: 376px;
  }
}

@media (max-width: 321px) {
  .signup-inputs-mobile {
    min-height: 0 !important;
    height: 40px;
    --highlight-color-focused: #262c5c;
    color: black;
    --border-color: black !important;
    width: 100%;
    font-size: 14px;
    max-width: 290px !important;
  }
  .signup-grid {
    height: 100%;
    width: 100%;
    max-width: 321px !important;
  }
}


