.list-cards {
  height: 60px;
  width: 100%;
  margin-bottom: 0;
}

.list-cards-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.list-cards-text {
  font-size: 15px;
  color: black;
  padding: 2px;
}

.list-total-cards {
  padding: 7px;
  width: 100%;
  color: black;
  font-size: 24px;
  font-family:  BebasNeue-Regular;
}

.jlist-header-title{
  font-family: BebasNeue-Regular;
  font-size: 30px;
  color: white;
  font-weight: lighter;
}